<ion-header class="flat">
    <ion-toolbar class="colore">
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="goBack()">
                <ion-icon ios="md-arrow-back" md="md-arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="dark" text-center>Health Blogs</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <section class="intro animated fadeIn" *ngIf="showReminder">
        <img src="assets/images/doctor-intro.jpg" alt="doctor intro">
        <div class="intro-text">
            <h2>Hi</h2>
            <p>It seems, some required profile information are missing or the submitted infromation is not certified. Due to that you've been given limited access to the features of the app.</p>
            <a (click)="goToProfile()" class="go-btn">Go to Profile</a>
            <a class="skip-btn">I'll do that later</a>
        </div>
    </section>
    <div *ngIf="row_data?.length == 0">
        <p style="text-align: center;
    color: red;">No Internet</p>
    </div>
    <div *ngFor='let data of row_data'>
        <ion-card>
            <ion-card-header>
                <ion-card-title> {{data.title}}</ion-card-title>
            </ion-card-header>
            <img src="{{data.image}}" style="height: 150px;" />
            <ion-card-header>
                <ion-row>
                    <ion-col size="10">
                        <ion-card-subtitle style="color: black;">{{data.date}}</ion-card-subtitle>
                    </ion-col>
                    <ion-col size="2" (click)="share()">
                        <div class="shrebtn">
                            <img src="../../assets/icon/share.png">
                        </div>
                    </ion-col>
                </ion-row>
                <ion-card-subtitle style="color: black;"> {{data.author}}</ion-card-subtitle>
                <ion-card-subtitle style="color: black;">{{data.source}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content style="color: black;">
                <ion-textarea style="text-align: justify;" disabled>
                    {{data.content}}
                </ion-textarea>


            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
<ion-footer class="flat">
    <footer-tabs>
    </footer-tabs>
</ion-footer>