<div class="page__welcome h-100">
  <div class="bg"></div>
  <div class="content">
    <!-- <ion-slides class="onboarding slides" pager="true" [options]="slideOpts">
      <ion-slide class="screen"> -->
        <div class="intro">
          <div class="image"></div>
          <div class="text">
            <img src="https://cureplus.online/app/images/cureplus.png" style="height: 81%;
            width: 75%;
            margin-top: 67px;
            margin-left: auto;
            margin-right: auto;
            display: block;">
          </div>
        </div>
      <!-- </ion-slide>
    </ion-slides> -->
    <div class="welcome-text">
      <div class="intro">
        <div>
          <div class="social-login"> 
          <button
              class="btn btn-fill"
              routerLink="/register"
              routerDirection="root"
            >
              Register Now
            </button>
          </div>
        <div class="divider">
            <small>Have an Account?</small>
          </div> 
          <div class="login">
            <button
              class="btn btn-outline"
              routerLink="/login"
              routerDirection="root"
            >
              Sign In
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
