<ion-header class="flat">
    <ion-toolbar class="colore">
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="goBack()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="dark" text-center>Health Blog</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <section class="intro animated fadeIn" *ngIf="showReminder">
        <img src="assets/images/doctor-intro.jpg" alt="doctor intro">
        <div class="intro-text">
            <h2>Hi</h2>
            <p>It seems, some required profile information are missing or the submitted infromation is not certified. Due to that you've been given limited access to the features of the app.</p>
            <a (click)="goToProfile()" class="go-btn">Go to Profile</a>
            <a class="skip-btn">I'll do that later</a>
        </div>
    </section>
    <div *ngIf="row_data?.length == 0">
        <p style="text-align: center;
    color: red;">No data Available</p>
    </div>
    <div *ngFor='let data of row_data'>
        <ion-card>
            <img src="{{data.image}}" />
            <ion-card-header>
                <ion-card-subtitle>{{data.date}}</ion-card-subtitle>
                <ion-card-title>{{data.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                {{data.tips}}
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
<ion-footer class="flat">
    <footer-tabs>
    </footer-tabs>
</ion-footer>