<ion-content>
  <div class="page__login h-100 bg__image">
    <div class="ui__view__block">
      <div class="content__centered p-0" *ngIf='passwordsection'>
        <div class="login-wrapper">
          <div class="header">
            <h2>Please Enter Password</h2>
          </div>
          <form [formGroup]="loginForm" novalidate >
            <div class="input-row">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label class="cff">Password</mat-label>
                <input matInput placeholder="Password" spellcheck="false"   [type]="pwHidden ? 'password' : 'text'" class="cff" autocomplete="off" id="pass">
                  <mat-icon matSuffix (click)="pwHidden = !pwHidden">{{pwHidden ? 'visibility' : 'visibility_off'}}
                  </mat-icon>
              </mat-form-field>
            </div>
            <div class="input-row">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label class="cff">Confirm Password</mat-label>
                <input matInput placeholder="Confirm Password"  [type]="pwHidden1 ? 'password' : 'text'" class="cff" autocomplete="off" id="cpass">
                  <mat-icon matSuffix (click)="pwHidden1 = !pwHidden1">{{pwHidden1 ? 'visibility' : 'visibility_off'}}
                  </mat-icon>
              </mat-form-field>
            </div>
            <div class="input-row" >
              <button class="btn__signin loading-btn" [class.loading]="formSubmitted" (click)="password()">SAVE PASSWORD</button>
            </div>
            <!-- <div class="input-row">
              <button class="btn__signin loading-btn"  [class.loading]="formSubmitted" (click)="password()">RESET PASSWORD</button>
            </div> -->
          </form>
        </div>
      </div>

      <div class="content__centered p-0" *ngIf='!passwordsection'>
        <div class="login-wrapper">
          <div class="header">
            <h2>Enter Email to continue</h2>
          </div>
          <form [formGroup]="loginForm" novalidate >
            <div class="input-row">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label class="cff">Email</mat-label>
                <input matInput placeholder="Enter your Email" spellcheck="false" formControlName="userId" type="email"
                  class="cff" autocomplete="off">
                <mat-error *ngIf="loginForm.controls['userId'].errors">{{getErrorMessage('id')}}</mat-error>
              </mat-form-field>
            </div>
            <div class="input-row">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label class="cff">Userid/Phone</mat-label>
                <input matInput placeholder="Enter your Userid/Phone" formControlName="pw"
                  type="number" class="cff">
               
                <mat-error *ngIf="loginForm.controls['pw'].errors">{{getErrorMessage('pass')}}</mat-error>
              </mat-form-field>
            </div>
            <div class="input-row">
             <p *ngIf="otpmsg" style="color:blue">An OTP (One Time Password) has been send to your Email. It will Valid for 10 mins</p>
            </div>
            <div class="input-row" *ngIf="otpmsg">
              <mat-form-field appearance="outline" class="d-block">
                <mat-label class="cff">Enter OTP</mat-label>
                <input matInput placeholder="Enter your OTP" type="number" class="cff"  autocomplete="off" id="otp">
              </mat-form-field>
            </div>
            <div class="input-row" *ngIf="otpmsg">
              <button class="btn__signin loading-btn" [class.loading]="formSubmitted" (click)="otpvalid()">VALID OTP</button>
            </div>
            <div class="input-row" *ngIf="otpmsg0">
              <button class="btn__signin loading-btn" [class.loading]="formSubmitted" (click)="onSubmit()">NEXT</button>
            </div>
          </form>
        </div>
      </div>



    </div>
  </div>
</ion-content>